$main-color: #FFFFFF;
$secondary-color: #66BB6A;
$orange-color: rgba(235,97,17,952);
$gray-color: rgb(97,93,93);
$cream-color: rgb(252, 239, 221);
$orange-section: rgb(236, 95, 70);
$login-color: rgb(175, 140, 225);
$basket-color :  rgb(255, 151, 31);
$regular-text-color: #263238;
$text-color: #000000;
