@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

$font-style:  'Chivo', sans-serif;
$font-weight-normal: 400;
$font-weight-high: 600;
$font-roboto:  'Roboto', sans-serif;
$font-small: 14px;
$font-normal: 16px;
$font-medium: 18px;
$font-large: 31px;
$font-larger: 36px;
$font-extraLarge: 46px;
$line-height: 24px;
$extra-line-height: 40px;


